###TEMPORARY FILES###
Thumbs.db
*~
*.tmp
~$*.doc*
~$*.xls*
*.xlk
~$*.ppt*
*.~vsdx

###OTHER###
*.sublime-*
app/res/bootstrap/*
app/res/font-awesome/*
app/res/colorbox/*
app/res/images/*
app/res/tinymce/*
*.sublime-project
*.sublime-workspace
*init.php