###TEMPORARY FILES###
Thumbs.db
*~
*.tmp
~$*.doc*
~$*.xls*
*.xlk
~$*.ppt*
*.~vsdx

###OTHER###
*.sublime-*
*init.php*
app/res/bootstrap/*
app/res/font-awesome/*
app/res/colorbox/*
app/res/images/*
app/res/tinymce/*
app/core/models/m_auth.php
*.sublime-project
*.sublime-workspace